<div class="container">
    <h1>Register</h1>
    <div ng-show="model.RErr" class="alert alert-danger" role="alert">
        {{model.RErr}}
    </div>
    <input type="text"
           ng-model="model.user.username"
           ng-style="username"
           class="form-control"
           placeholder="username"/>
    <div ng-show="model.uErr" class="alert alert-danger" role="alert">
        {{model.uErr}}
    </div>
    <input type="password"
           ng-model="model.user.password"
           ng-style="password"
           class="form-control"
           placeholder="password"/>
    <div ng-show="model.pErr" class="alert alert-danger" role="alert">
        {{model.pErr}}
    </div>
    <input type="password"
           ng-style="password2"
           ng-model="model.user.password2"
           class="form-control"
           placeholder="very password"/>
    <div ng-show="model.pErr" class="alert alert-danger" role="alert">
        {{model.pErr}}
    </div>
    <a class="btn btn-primary btn-block" ng-click="model.register(model.user)">Register</a>
    <a class="btn btn-danger  btn-block" href="#/login">Cancel</a>
    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
</div>