<div class="no-overflow">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<a class="navbar-text pull-left" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
				<span class="glyphicon glyphicon-chevron-left white"></span>
			</a>
			<a class="navbar-brand">New Widget</a>
			<a class="navbar-text pull-right" ng-click="model.createWidget(model.widget)">
				<span class="glyphicon glyphicon-ok white"></span>
			</a>
		</div>
	</nav>


<div class="row container-fluid">
<br>
	<div class="col-sm-12">
		<form>
			<div class="form-group">
				<div ng-show="model.WGErr" class="alert alert-danger" role="alert">
					{{model.WGErr}}
				</div>
				<label for="Name">Name</label>
				<input type="text"
					   ng-style = "name"
					   ng-model="model.widget.name"
					   class="form-control"
					   id="name"
					   placeholder="Name"/>
				<div ng-show="model.wgErr" class="alert alert-danger" role="alert">
					{{model.wgErr}}
				</div>
			</div>
			 <div class="form-group">
				<label for="Text">Text</label>
				<input type="text"
					   ng-model="model.widget.text"
					   class="form-control"
					   id="text"
					   placeholder="Text">
			</div>
			<div class="form-group">
				<label for="Size">Size</label>
				<select class="form-control"
						ng-model="model.widget.size"
						id="Size"
						ng-options="i for i in [1,2,3,4,5,6]">
				</select>
			</div>
		</form>
	</div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
		<a class="navbar-text pull-right" href="#/user/{{model.userId}}">
			<span class="glyphicon glyphicon-user white"></span>
        </a>
    </div>
</nav>
</div>