<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<a class="navbar-text pull-left" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
			<span class="glyphicon glyphicon-chevron-left white"></span>
		</a>
		<a class="navbar-brand">Choose Widget</a>
	</div>
</nav>


<div class="container-fluid">
<br>
	<div class="list-item">
		<a ng-click="model.goToWidget('heading')">Header</a>
	</div>
	<div class="list-item">
		<a ng-click="model.goToWidget('image')">Image</a>
	</div>
	<div class="list-item">
		<a ng-click="model.goToWidget('youtube')">Youtube</a>
	</div>
	<div class="list-item">
		<a ng-click="model.goToWidget('html')">HTML</a>
	</div>
	<div class="list-item">
		<a ng-click="model.goToWidget('input')">Text Input</a>
	</div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
		<a class="navbar-text pull-right" href="#/user/{{model.userId}}">
			<span class="glyphicon glyphicon-user white"></span>
        </a>
    </div>
</nav>