<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<a class="navbar-text pull-left" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
			<span class="glyphicon glyphicon-chevron-left white"></span>
		</a>
		<a class="navbar-brand">Widgets</a>
		<a class="navbar-text pull-right" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
			<span class="glyphicon glyphicon-plus white"></span>
		</a>
	</div>
</nav>


<div class="container-fluid" id="sortable">
    <div ng-repeat="widget in model.widgets" class="list-group" id="{{widget._id}}">
        <div class="relative-position">
            <div class="container-fluid no-padding-right">
                <div ng-switch="widget.type">
                    <div ng-switch-when="HEADING">
                        <div ng-switch="widget.size">
                            <h1 ng-switch-when="6" class="no-top-margin">{{widget.text}}</h1>
                            <h2 ng-switch-when="5" class="no-top-margin">{{widget.text}}</h2>
                            <h3 ng-switch-when="4" class="no-top-margin">{{widget.text}}</h3>
                            <h4 ng-switch-when="3" class="no-top-margin">{{widget.text}}</h4>
                            <h5 ng-switch-when="2" class="no-top-margin">{{widget.text}}</h5>
                            <h6 ng-switch-when="1" class="no-top-margin">{{widget.text}}</h6>
                        </div>
                    </div>
                    <div ng-switch-when="HTML">
                        {{widget.name}}
                    </div>
                    <div ng-switch-when="IMAGE">
                        <img class="img-responsive" width="{{widget.width}}%" ng-src="{{model.widgetUrl(widget)}}" alt="Sample Image"/>
                    </div>
                    <div ng-switch-when="YOUTUBE" class="youtube-widget" embed-responsive>
                        <iframe class="embed-responsive-item" width="{{widget.width}}" ng-src="{{model.widgetUrl(widget)}}"></iframe>
                    </div>
                    <div ng-switch-when="INPUT">
                        <div ng-if="widget.formatted" text-angular ng-model="widget.text"></div>
                        <input ng-if="!widget.formatted && (!widget.rows || widget.rows===1)"
                               placeholder="{{widget.textInput.placeholder}}" class="form-control" value="{{widget.text}}"/>
                        <textarea ng-if="!widget.formatted && (widget.rows > 1)"
                                  rows="{{widget.rows}}" placeholder="{{widget.placeholder}}"
                                  class="form-control">{{widget.text}}</textarea>
                    </div>
                </div>
            </div>
            <div class="absolute-position list-element-menu no-padding-right">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                    <span class="glyphicon glyphicon-cog"></span></a>
                <a href="#"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
            </div>
	    </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
		<a class="navbar-text nav-left-xs pull-left" href="#">
			<span class="glyphicon glyphicon-play white"></span>
        </a>
		<a class="navbar-text pull-left" href="#">
			<span class="glyphicon glyphicon-eye-open white"></span>
        </a>
		<a class="navbar-text pull-right" href="#/user/{{model.userId}}">
			<span class="glyphicon glyphicon-user white"></span>
        </a>
    </div>
</nav>